footer {
  height: min-content;
  background-color: var(--color-dark-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding-bottom: 3vw;
  padding-top: 3vw;
  z-index: 10;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-title {
  color: rgb(103, 103, 103);
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.list-content {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  width: 100%;
  z-index: 50;
}

#company-main-info {
  width: 80%;
}

#footer-company-li {
  margin-top: 1rem;
  font-weight: 600;
  position: relative;
}

#footer-company-li:before {
  content: "";
  width: 10%;
  height: 0.1rem;
  background-color: var(--color-white);
  position: absolute;
  bottom: -0.5rem;
}

#company-description-li {
  color: white;
  margin-top: 1rem;
  font-size: 1.2rem;
}
