body{
    margin: 0;
    height: 100vh;
    font-family: Roboto Flex, Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 4rem;
}

:root{
    --color-dark-blue: #243a49;
    --color-cyan: #106973;
    --color-light-blue: #82a2a4;
    --color-beige: #A67041;
    --color-white: #F2F2F2;

    --shadow-primary: 0 0px 10px rgba(0, 0, 0, 1);
    --shadow-secondary: 3px 3px 5px rgba(0, 0, 0, 0.5);

}