body{
    margin: 0;
    height: 100vh;
    font-family: Roboto Flex, Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 4rem;
    overflow-x: hidden;
}

:root{
    --color-dark-blue: rgb(36, 58, 73);
    --color-cyan: rgb(16, 105, 115);
    --color-light-blue: rgb(157, 199, 202);
    --color-beige: rgb(166, 112, 65);
    --color-white: rgb(242, 242, 242);

    --shadow-primary: 0 0px 10px rgba(0, 0, 0, 1);
    --shadow-secondary: 3px 3px 5px rgba(0, 0, 0, 0.5);

}