#infrastructure-section{
    height: 50rem;
    background-color: var(--color-white);
    position: relative;
}

#wavy-outline-3{
    position: absolute;
    height: fit-content;
    top: -12rem;
    fill: var(--color-white);
}