#summary-section{
    height: fit-content;
    background-color: var(--color-cyan);
    position: relative;
    padding-bottom: 10rem;
    display: flex;
    justify-content: flex-end;
}

#summary-container{
    margin: 3rem 5rem 0rem 1rem;
    color: white;
    width: 50%;
    z-index: 50;
    height: fit-content;
    /* background-color: aqua; */
}

#summary-container h2{
    font-size: 4rem;
    margin: 0 0 1rem 0;
    height: 12rem;
    position: relative;
}

#summary-container h2:before{
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background: linear-gradient(90deg ,white 80%,transparent);
    bottom: 1rem;
}

#summary-container h2 span{
    font-size: 10rem;
}

#summary-container p{
    margin: 0;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 2rem;
    z-index: 70;
}

#summary-image-container{
    width: 40%;
    height: 100%
}

#summary-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-more-href{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    font-weight: 400;
    z-index: 50;
}

.view-more-href:before{
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background-color: white;
    bottom: -0.5rem;
}

@media(width <= 1000px){
    #summary-container{
        width: 90%;
    }
    #summary-image-container{
        top: 2rem;
        width: 100%;
        height: 22rem;
    }
    #summary-container h2:before{
        display: none;
    }
    #summary-container h2{
        font-size: 3rem;
        margin-top: 17rem;
        margin-bottom: -1rem;
    }
    #summary-container h2 span{
        font-size: 6rem;
    }
}

@media (width <= 700px) {
    #summary-container h2{
        margin-top: 0rem;
    }
}

@media (width <= 450px) {
    #summary-container h2{
        margin-top: -3rem;
        margin-bottom: -3rem;
    }
}